/* add your CSS here */
body{
	border-style: outset;
	padding: 10px;
	width: 340px;
}

.discription{
	border-style: outset;
	padding: 10px;	
}

.list{
	font-weight: bold;
}

ul{
	list-style: none;
}

.paragraph{
	font-style: italic;
}

#image{
    width: 300px;
}